<div class="panel panel-default">
        <div class="panel-heading">
            <img src="assets/icons/exchange.png" style="margin-top: -2px">
            <h5>Make a transfer</h5>
        </div>
        <div class="panel-body">
            <div>
                <b>FROM ACCOUNT</b>
                <div>
                    <input type="text" value="Free Checking(4692) - {{$ctrl.currentBalance | currency:'$':2}}" disabled >
                </div>
                <b>TO ACCOUNT</b>
                <div>
                    <input  type="text" ng-model="$ctrl.transferTo" required >
                </div>
                <b>AMOUNT</b>
                <div>
                    <input type="number" placeholder="$0.00" min="0.00" step="0.01" ng-model="$ctrl.amount" required >
                    <button class="btn" ng-click="$ctrl.pay()">Pay</button>
                </div>
            </div>
        </div>
    </div>