<div class="panel panel-default">
    <div class="panel-heading">
        <img src="assets/icons/suitcase.png" style="margin-top: 10px">
        <h4>Recent Transactions</h4>
    </div>
    <div class="panel-body"> 
        <ul class ="list-group" >
            <li ng-repeat="item in $ctrl.transactions" class="list-group-item" ng-style="{'border-left-color': item.categoryCode}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">{{item.transactionDate | timestamp}}</div>
                        
                        <img class="col-md-1" src="{{item.merchantLogo}}">
                        
                        <div class="col-md-4">{{item.merchant}}
                            <br/>
                            <h6>{{item.transactionType}}</h6>
                        </div>

                        <div class="col-md-1 pull-right">-{{item.amount}}</div>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
</div>